{{ define "main" }}
<ul class="listing">
  {{ range .Pages }}
  <li>
    <article>
	<!--     <a href="{{ .Permalink }}">
      <img src="{{ .Params.image }}" alt="" class="img-responsive">
    </a> -->
      <img src="{{ .Params.Image }}" alt="{{ .Title }}" style="width:200px;height:300px;"/>
      <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <div class="body">{{ .Summary }}</div>
    </article>
  </li>
    <li>
    <article>
	<!--     <a href="{{ .Permalink }}">
      <img src="{{ .Params.image }}" alt="" class="img-responsive">
    </a> -->
          <img src="{{ .Params.Image }}" alt="{{ .Title }}" style="width:200px;height:300px;"/>
      <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <div class="body">{{ .Summary }}</div>
    </article>
  </li>
  {{ end }}
</ul>
{{ end }}
