

<!-- Sharingbutton Facebook -->
<a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmidwestmash.com" target="_blank" rel="noopener" aria-label="Share on Facebook">
  <i class="fab fa-facebook"></i>
  <span>Share on Facebook</span>
</a>

<!-- Sharingbutton Pinterest -->
<a class="resp-sharing-button__link" href="https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fmidwestmash.com&amp;media=http%3A%2F%2Fmidwestmash.com&amp;description=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking." target="_blank" rel="noopener" aria-label="Share on Pinterest">
<i class="fab fa-pinterest"></i>
    <span>Share on Pinterest</span>
</a>
