<!doctype html>
<html lang="en" class="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ "css/theme.css" | absURL }}" rel="stylesheet" />
        <title>
            {{ block "title" . }}
            {{ .Site.Title }}
            {{ end }}
        </title>
    </head>
    <body>
        <div class="wrapper">
            <header class="main-head">Midwest Mash</header>
            <nav class="main-nav">
                <ul>
                <li><a href="">Recipes</a></li>
                <li><a href="">Social</a></li>
                <li><a href="">About</a></li>
                </ul>
            </nav>
                {{ block "main" . }}
                {{ end }}
            <aside class="side">Sidebar</aside>
            <div class="ad">Advertising</div>
            <footer class="main-footer">
            The footer
            </footer>
        </div>
    </body>
</html>