<!doctype html>
<html lang="en" class="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ "css/theme.css" | absURL }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Niconne|Raleway&display=swap" rel="stylesheet">
        <title>
            {{ block "title" . }}
            {{ .Site.Title }}
            {{ end }}
        </title>
        <head>
        <link href={{ "css/fontawesome-5.10.2/css/fontawesome.min.css" | absURL }} rel="stylesheet">
        <link href={{ "css/fontawesome-5.10.2/css/brands.css" | absURL }} rel="stylesheet">
        <link href={{ "css/fontawesome-5.10.2/css/solid.css" | absURL }} rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <header class="main-head">
              <h1><a href="">Midwest Mash</a></h1>
            </header>
            <div class="social">
                <a href="{{ .Site.Params.pinterest }}"><i class="fab fa-pinterest"></i></a>
                <a href="{{ .Site.Params.facebook }}"><i class="fab fa-facebook"></i></a>
                <a href="{{ .Site.Params.instagram }}"><i class="fab fa-instagram"></i></a>
            </div>
            <nav class="main-nav">
                <ul>
                <li><a href="">About Me</a></li>
                <li><a href="">Recipes</a></li>
                <li><a href="">Oh Baby</a></li>
                <li><a href="">Mom Blog</a></li>
                </ul>
            </nav>
            <div class="content">
                {{ block "main" . }}
                {{ end }}
            </div>
            <aside class="side">
                <h4>Recent Posts</h4>
                <ul>
                {{ range first 5 .Pages }}
                    <li><a>{{ .Title }}</a></li>
                    <span>-</span>
                {{ end }}
                </ul>
            </aside>
            <div class="ad">Advertising</div>
            <footer class="main-footer">Dishing on Food and Life from my home to yours</footer>
        </div>
    </body>
</html>