{{ $url := .Get 0}}

{{ with getJSON $url}}
<script type="application/ld+json">
{{ . }}
</script>

<div itemscope itemtype="http://schema.org/Recipe">
	<h1 itemprop="name">{{ .name }}
		{{ if $.Site.Params.pinterest }}
		<amp-social-share type="pinterest"
		data-param-media="{{ .image | absURL }}"
		data-param-description="{{ .name }}">
		</amp-social-share>
		{{ end }}
	</h1>
	<p itemprop="description">{{ .description }}</p>
	<meta itemprop="url" content="{{ $.Page.Permalink }}"/>
	<meta itemprop="author" content="{{ .author }}"/>
	<meta itemprop="datePublished" content="{{ $.Page.PublishDate }}"/>
	<meta itemprop="recipeYield" content="{{ .recipeYield }}"/>

	<amp-img src="{{ .image }}" itemprop="image" layout="responsive" width="100" height="100">
	</amp-img>

	<span>Cook Time:</span>
	<span itemprop="cookTime">{{ .cookTime }}</span>
	<h2>Ingredients:</h2>
	<ul>
		{{ range .recipeIngredient }}
		<li itemprop="recipeIngredient">{{.}}</li>
		{{ end }}
	</ul>
	<h2>Instructions:</h2>
	<ol itemprop="recipeInstructions">
		{{ range .recipeInstructions }}
		<li>{{.}}</li>
		{{ end }}
	</ol>
	{{ with .notes }}
	<h2>Notes:</h2>
	<p>{{.}}</p>
	{{ end }}
</div>
{{ end }}